@model RestoranASP.Models.NarudzbinaCreateViewModel
@{
	ViewData["Title"] = "Kreiraj narudzbinu";

}

<h2>Kreiraj narudžbinu</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>
}

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Datum"></label>
        <input asp-for="Datum" type="datetime-local" class="form-control" />
        <span asp-validation-for="Datum" class="text-danger"></span>
    </div>

    <h4>Jelovnik</h4>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Jelo</th>
                <th>Količina</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Jela.Count; i++)
            {
                <tr>
                    <td>
                        <input asp-for="Jela[@i].IsChecked" />
                        <input asp-for="Jela[@i].JeloId" type="hidden" />
                    </td>
                    <td>@Model.Jela[i].Naziv - @Model.Jela[i].Cena RSD</td>
                    <td>
                        <input asp-for="Jela[@i].BrojPorcija"
                               type="number" min="1" class="form-control"
                               style="width:80px" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-success">Sačuvaj narudžbinu</button>
</form>
