@model RestoranASP.Models.Kategorija
@{
	ViewData["Title"] = "Izmena kategorije";

}
<h2 class="text-center mb-3">Izmena kategorije</h2>
<div class="row justify-content-center">
	<div class="container border border-warning p-4 col-7 bg-light">
		<form asp-action="Edit" method="post">
			<div class="form-group">
				<label asp-for="Naziv" class="form-label fw-bold">Naziv kategorije: </label>
				<input type="text" class="form-control" asp-for="Naziv" placeholder="Unesite naziv kategorije">

			</div>
			<div class="d-flex justify-content-center mt-3">
				<button type="submit" class="btn btn-warning">Izmeni kategoriju</button>
			</div>

		</form>
	</div>
</div>
