@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistem za upravljanje restoranom</h1>
    <h3>Sisim koji omogućava efikasno kreiranje, izmenu, brisanje kategorija ili jela, kao i naručivanje iz restorana.</h3>
</div>

