@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fst-italic">Dobrodošli u naš restoran!</h1>
    <h4 class="mt-3 fst-italic">

        U srcu našeg grada, spajamo tradiciju i savremeni ukus u nezaboravno kulinarsko iskustvo.<br />

        Naša kuhinja nudi pažljivo odabrana jela, pripremljena od najkvalitetnijih sastojaka posebno za Vas!<br />

        Bez obzira da li ste ljubitelj domaćih specijaliteta ili želite da probate nešto novo iz internacionalne kuhinje – kod nas ćete pronaći nešto za sebe.
    </h4>
</div>

