@model RestoranASP.Models.Jelo
@{
	ViewData["Title"] = "Novo jelo";

}
<h2 class="text-center mb-3">Novo jelo</h2>
<div class="row justify-content-center">
	<div class="container border border-success p-4 col-7 bg-light">
		<form asp-action="Create" method="post">
			<div class="form-group">
				<label asp-for="Naziv" class="form-label fw-bold">Naziv jela: </label>
				<input type="text" class="form-control" asp-for="Naziv" placeholder="Unesite naziv jela">
				<span asp-validation-for="Naziv" class="text-danger"></span>

			</div>
			<div class="form-group">
				<label asp-for="Cena" class="form-label fw-bold">Cena jela:  </label>
				<input type="number" class="form-control" asp-for="Cena" placeholder="Unesite cenu jela">
				<span asp-validation-for="Cena" class="text-danger"></span>

			</div>
			<div class="form-group">
				<label asp-for="Slika" class="form-label fw-bold">URL slike: </label>
				<input type="text" class="form-control" asp-for="Slika" placeholder="Unesite adresu slike">
				<span asp-validation-for="Slika" class="text-danger"></span>

			</div>
			<div class="form-group">
				<label asp-for="KategorijaId" class="form-label fw-bold">Kategorija jela: </label>
				@Html.DropDownListFor(Model=>Model.KategorijaId, (SelectList)ViewBag.Kategorije, "Odaberi kategoriju", new{@class="form-control"})
				<span asp-validation-for="KategorijaId" class="text-danger"></span>

			</div>
			<div class="d-flex justify-content-center mt-3">
				<button type="submit" class="btn btn-success">Dodaj jelo</button>
			</div>

		</form>
	</div>
</div>
